.second-section {
  background-image: url('../images/activities/da-lat-2024.jpg');
}
.scan-section {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  margin-top: 20px;
}
.scan-section .container-fluid {
  display: flex;
  flex-wrap: wrap;
}
.scan-section .container-fluid .map {
  margin-top: 20px;
  width: 50%;
  padding: 0 20px;
}
.scan-section .container-fluid .gift {
  margin-top: 20px;
  width: 50%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.go-to-blessing {
  font-size: 25px;
  border: 2px solid #fff;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
}

.go-to-blessing:hover {
  text-decoration: none;
  background-color: #fff;
  color: #000;
}

.bless-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: start;
}

.bless-item {
  width: 100%;
  padding: 16px;
}

.bless-item:nth-child(even) {
  background-color: #f5f5f5;
}

.bless-item .name {
  font-family: Bree Serif;
  font-weight: 600;
  margin-bottom: 4px;
}

@media (max-width: 992px) {
  .second-section a {
    color: #fff !important;
  }
}
@media (max-width: 768px) {
  .second-section {
    background-image: url('../images/activities/da-lat-2024-mobile.jpg');
  }
  
  .banner-image {
    background-image: url('../images/anh_cong/ACTC1925_1.jpg') !important;
  }

  .scan-section .container-fluid .map {
    width: 100%;
  }
  .scan-section .container-fluid .gift {
    width:1000%;
  }
}

.wed_wht_txt .wed_countdown .countdown-amount {
  color: #fff !important;
}

.fixed-blessing-button {
  position: fixed;
  bottom: 10px;
  right: 20px;
  z-index: 99;
  border: 2px solid #09abd8;
  color: #09abd8;
  padding: 2px 10px;
  font-size: 12px;
  transition: all 0.3s ease-in-out;
}

.fixed-blessing-button:hover,
.fixed-blessing-button:focus {
  text-decoration: none;
  background-color: #fff;
  color: #000;
  text-shadow: none;
}

.bless-description .read-more,
.bless-description .read-less {
  color: #1E9EE6;
  font-weight: 600;
  cursor: pointer;
}
